.hoda{color: red}
.col-lg-3{display: inline}
.ahmed{width: 20% ;margin-left:50px}
.sodana{width: 30%;margin-left: 50px}
.sodana2{width: 30%;position: absolute;top:224.5%;left:32%;margin-left: 20px}
.sodana3{width: 30%;position: absolute;left: 63%;margin-left: 20px}
.sodana4{width: 30.7%;position: absolute;left: 0%;top:318%;margin-left: 35px}
.sodana5{width: 30%;position: absolute;top:280%;left:32%;margin-left: 20px}
.sodana6{width: 30%;position: absolute;top:330%;left:32%;margin-left: 20px}
.sodana7{width: 30%;position: absolute;left: 63%;top:343%;margin-left: 20px}
.hoda1{font-size: 20px}
.hoda2{font-size: 50px}
.form-control{max-width:30%}
.naruto{position:relative; left: 15%}
iframe{width: 500px;height: 300px;position: absolute;top: 490%;left:50%}
